/* タブレット向け１段階目レイアウト */
@media screen and (max-width: 1200px) {
  body {
    background-color: #c1e4e9;
  }

  .sidebar-wrapper {
    max-width: 260px;
  }

  .contents-wrapper {
    max-width: 650px;
  }
}

/* タブレット向け２段階目レイアウト */
@media screen and (max-width: 1030px) {
  body {
    background-color: #e6cde3;
  }

  .sidebar-wrapper {
    max-width: 220px;
    margin-left: 20px;
  }

  .contents-wrapper {
    max-width: 520px;
  }

  .contact-box input {
    width: 70%;
  }
}

/* タブレット向け２段階目レイアウト */
@media screen and (max-width: 840px) {
  body {
    background-color: #ffc;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .h-title {
    flex-direction: column;
  }

  .sidebar-wrapper {
    max-width: 600px;
    padding: 0;
    margin: 15px auto;
  }

  .contents-wrapper {
    max-width: 600px;
    margin: 0 auto 20px;
  }

  .contact-box input {
    width: 80%;
  }

  .move-cart {
    bottom: 35px;
    right: 35px;
  }

}

/* スマホ横向け３段階目レイアウト */
@media screen and (max-width: 665px) {
  body {
    background-color: #d6e9ca;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .sidebar-wrapper {
    max-width: 600px;
    padding: 0;
    margin: 15px auto;
  }

  .contents-wrapper {
    max-width: 600px;
    margin: 0 auto 20px;
  }

.contents {
    padding: 20px 10px;
}


  .h-nav ul {
    flex-direction: column;
  }

  .h-inner p {
    width: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    padding: 7px 0;
    width: 160px;
  }

.move-cart {
  bottom: 20px;
  right: 20px;
}

  .contact-box input {
    width: 90%;
  }

  #messageBody {
    width: 100%;
  }

  .bg-mask{
    padding: 10px;
  }

  footer p {
    font-size: 2.5vw;
  }

  .h-title h1 {
    font-size: 6vw;
  }

  .caption td {
    font-size: 65%;
  }
}
