/* *************** 全般的なスタイル ***************  */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff8dc;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 17px;
  line-height: 1.8em;
  letter-spacing: .8px;
  color: #7b5544;
  max-width: 1300px;
  margin: 0 auto;
}

/* ************************************************ */
/* <!-- ＊＊＊＊＊＊    共通部分始め    ＊＊＊＊＊＊ --> */
.jump {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: solid 2px #6b3008;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.read-more {
  text-align: right;
  text-decoration: underline;
}

.btn {
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 0 #69b076;
  user-select: none;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.9;
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0 0 0 #69b076;
}

.send-button {
  width: 70%;
  background: #88cb7f;
}

.send-button:hover {
  width: 80%;
}

.large-wrapper {
  max-width: 1100px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.bg-mask{
  height: 100%;
  background: rgba(255,255,255,0.4);
  padding: 50px;
}

.red {
  color:#e95464;
}

/* <!-- ＊＊＊＊＊＊    共通部分終り    ＊＊＊＊＊＊ --> */
/* <!-- ＊＊＊＊＊＊    ヘッダー始め    ＊＊＊＊＊＊ --> */

.h-inner {
  background-image: url(../img/header.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.not-exist {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
  font-weight: bold;
  animation: color-change 2s linear infinite;

}

@keyframes color-change {
  0%,100%{
    color:#ff1493;
  }

  25%{
    color:#7fff00;
  }

  50%{
    color:#0091EA;
  }

  75%{
    color:#9400d3;
  }
}


.h-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  width: 100%;
}

.h-title div {
  text-align: right;
  width: 150px;
}

.h-title img {
  width: 100%;
}

.h-title h1 {
  font-size: 40px;
  letter-spacing: 2px;
  padding: 10px 0;
  background-color: #fff;
}




.h-nav ul {
  background-color: #7b5544;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.h-nav ul li {
  display: inline-block;
  vertical-align: middle;
  border-left: solid 1px #fff;
  margin: 5px 0px;
}

.h-nav ul li:hover {
  background-color: #a07155;
}


.h-nav a {
  color: #fff;
  display:block;
  width:100%;
  padding:10px 15px;
}

.h-contact {
  border-right: solid 1px #fff;
}

/* <!-- ＊＊＊＊＊＊    ヘッダー終り    ＊＊＊＊＊＊ --> */
/* <!-- ＊＊＊＊＊＊     メイン始め     ＊＊＊＊＊＊ --> */
main {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contents-wrapper {
  max-width: 800px;
  width: 100%;
}

.contents {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 30px;
}

.contents h2 {
  padding-bottom: 20px;
}

.contents ul {
  list-style: none;
}

.special-sales-wrapper {
  background-image: url(../img/pic-bean01.jpg);
  background-size: cover;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.special-sales-wrapper a {
  color: #fff;
}

.special-sales-wrapper h2 {
  animation: flash 3s linear infinite;
}
  @keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


.special-sales-wrapper:hover {
  opacity: 0.8;
}

.p-bold {
  font-weight: bold;
}

.p-line-through{
  text-decoration: line-through;
}

.shopimgtop{
  width: 100%;
}


/* <!-- ＊＊＊＊＊＊     メイン終り     ＊＊＊＊＊＊ --> */
/* <!-- ＊＊＊＊＊＊   サイドバー始め   ＊＊＊＊＊＊ --> */
.sidebar-wrapper {
  max-width: 300px;
  width: 100%;
  margin-left: 30px;
}

.sidebar-inner {
  padding: 25px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 30px;
}

.sidebar-inner h3 {
  text-align: center;
}

.sidebar-contents {
  padding-top: 10px;
}

.sidebar-contents h4 span {
  text-decoration: underline;
}

.sidebar-contents iframe {
  border:0;
  width:100%;
  height: 250px;
}


/* <!-- ＊＊＊＊＊＊   サイドバー終り   ＊＊＊＊＊＊ --> */
/* <!-- ＊＊＊＊＊＊    フッター始め    ＊＊＊＊＊＊ --> */
footer {
  background-color: #fffaf0;
  padding-top: 20px;
}

footer table {
  margin-left: auto;
  margin-right: auto;
}

footer table caption{
  font-weight: bold;
}

footer p {
  text-align: center;
  padding: 20px 0;
}

/* <!-- ＊＊＊＊＊＊    フッター終り    ＊＊＊＊＊＊ --> */

/* <!-- ＊＊＊＊＊＊    タイマー始め    ＊＊＊＊＊＊ --> */
#timer {
  font-weight: bold;
  font-size: 25px;
  color:#f00;
}

/* <!-- ＊＊＊＊＊＊    タイマー終り    ＊＊＊＊＊＊ --> */



/* <!-- ＊＊＊＊＊＊      購入始め      ＊＊＊＊＊＊ --> */

/* <!-- ＊＊＊＊＊＊      カートジャンプボタン始め      ＊＊＊＊＊＊ --> */

.move-cart {
  background-color: #e198b4;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  line-height:70px;
  border-radius:30px;
  text-align: center;
  display: table-cell;
}

.move-cart img{
  width: 80%;
  vertical-align:middle;
}

/* <!-- ＊＊＊＊＊＊      カートジャンプボタン終り      ＊＊＊＊＊＊ --> */


/* <!-- ＊＊＊＊＊＊  購入メニュー始め  ＊＊＊＊＊＊ --> */
.item-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.item-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.item-right {
  height: 140px;
}

.item-left {
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;

}

.item-photo {
  border-radius: 30px;
  max-width: 90%;
  max-height: 90%;
}

.item {
  font-size: 20px;
  width: 190px;
  height: 50px;
}

.set {
  font-size: 20px;
  width: 60px;
  height: 50px;
}
/* <!-- ＊＊＊＊＊＊  購入メニュー終り  ＊＊＊＊＊＊ --> */

/* <!-- ＊＊＊＊＊＊     カート始め     ＊＊＊＊＊＊ --> */

.item-inner table{
  width: 100%;
  font-size: 17px;
  margin-bottom: 20px;
}

.cart th{
  background-color: #f6bfbc;
  text-align: center;
  padding: 5px;
}

.goods {
  width: 55%;
  padding: 10px;

}

.qty {
  width: 10%;
  text-align: center;
}

.total-box {
  text-align: right;
  padding-right: 10px;
}


.amend {
  width: 15%;
  text-align: center;
}

.text-right{
  text-align: right;
  padding:5px 15px;
}

/* <!-- ＊＊＊＊＊＊     カート終り     ＊＊＊＊＊＊ --> */

/* <!-- ＊＊＊＊＊＊      購入終り      ＊＊＊＊＊＊ --> */



/* <!-- ＊＊＊＊＊　　お問い合わせ始め　　＊＊＊＊＊ --> */
.contact-sentence {
  padding: 10px;
  font-size: 20px;
}

.contact-sentence h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
}

label {
  font-weight: bold;
  font-size: 20px;
}

.must-typing {
  background: #ef454a;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
}

.contact-box {
  padding: 10px;
}

.contact-box input{
  font-size: 20px;
  width: 60%;
  height: auto;
  padding: 10px;
}

#messageBody{
  font-size: 20px;
  width: 90%;
  height: 300px;
  padding: 5px;
}

.not-robot {
  line-height: 50px;
  text-align: center;
}




/* <!-- ＊＊＊＊＊　　お問い合わせ終わり　　＊＊＊＊＊ --> */
